@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";

.ColorPropsContainer {
  margin: 0 $space-2;
  padding: $space-3 0;
  width: 100%;

  @include lg {
    display: flex;
    flex-direction: column;
    margin: 0 $space-0;
    padding: $space-2 0;

    h1 {
      align-self: center;
      margin-top: $space-1;
    }

    .ColorPickersContainer {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
