@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");

@import "./variables";
@import "./typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: $color-text-color;
  font-size: 63%;
}

body {
  font-family: "Nunito", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 0.4s;

  &:focus {
    outline: none;
  }

  &:hover {
    transition: ease-in-out;
    transition-duration: 0.4s;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
