$screen-xs: 380px;

$screen-sm: 599px;

$screen-md: 719px;

$screen-lg: 1100px;

$screen-xl: 1279px;

$screen-xxl: 1599px;

@mixin xs {
  @media (max-width: #{$screen-xs}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl}) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: #{$screen-xxl}) {
    @content;
  }
}

$screen-height-lg: 1500px;
$screen-height-md: 1000px;
$screen-height-sm: 700px;

@mixin lg_height {
  @media (max-height: #{$screen-height-lg}) {
    @content;
  }
}

@mixin md_height {
  @media (max-height: #{$screen-height-md}) {
    @content;
  }
}

@mixin sm_height {
  @media (max-height: #{$screen-height-sm}) {
    @content;
  }
}

// Custom devices
@mixin custom($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}
