@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

@mixin button($bg-color, $bg-hover-color) {
  padding: $space-1 $space-5;
  font-size: $base_unit * 4;
  font-family: inherit;
  color: $color-white;
  background-color: $bg-color;
  margin: $space-3;

  @include sm {
    font-size: $font-sm;
  }

  &:hover {
    background-color: $bg-hover-color;
  }
}
