@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

@mixin button($bg-color, $bg-hover-color, $color) {
  padding: $space-1 $space-2;
  font-size: $font-sm;
  font-family: inherit;
  color: $color;
  background-color: $bg-color;
  margin: $space-2;
  width: fit-content;

  @include lg {
    margin: $space-1;
  }

  @include sm {
    font-size: $font-sm;
    padding: $space-0 $space-1;
  }

  &:hover {
    background-color: $bg-hover-color;
  }
}
