@import "./variables";
@import "./breakpoints";

h1 {
  font-size: $font-lg;

  @include sm {
    font-size: $font-md;
  }
}

h2 {
  font-size: $font-md;

  @include md {
    font-size: $font-sm;
  }
}

p {
  font-size: $font-sm;
  @include sm {
    font-size: $font-xs;
  }
}
