@import "../../assets/scss/variables";

.ShadowBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;

  .ShadowBox {
    height: 45rem;
    width: 45rem;
    margin: $space-1;
    box-shadow: $shadow-1;
    border-radius: 1rem;
    background-color: #f3f3f3;
  }
}
