@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.ToolsContainer {
  display: flex;
  width: 49.6%;
  height: 85vh;
  z-index: 1;
  box-shadow: $shadow-2;

  @include lg {
    height: 30vh;
    width: 100%;
    flex-direction: column;
  }
}
