@import "../../../assets/scss/breakpoints";

.PropertiesNavContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  justify-content: space-around;

  @include lg {
    display: none;
  }
}
