.Layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  .childrenContainer {
    animation: fadeIn 0.3s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
