@import "../../assets/scss/breakpoints";

.Layout {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;

  .childrenContainer {
    animation: fadeIn 0.3s ease-in-out;
  }
}

.LayoutCodePage {
  @extend .Layout;
  justify-content: space-between;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
