@import "../../../../assets/scss/variables";

.PropertyNav {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 $space-3;
  cursor: pointer;

  img {
    height: 4rem;
  }
}
