@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";

.Header {
  padding-top: $space-3;
  padding-left: $space-3;
  color: $color-dark-tapestry;
  width: fit-content;
}
