@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.CodePage {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $color-dark-grey;
  }

  .CodeContainer {
    border: 0.1rem solid $color-mulberry;
    border-radius: 0.3rem;
    overflow-y: auto;
    width: 50%;
    height: fit-content;
    padding: $space-1;

    @include lg {
      width: 70%;
    }

    @include md {
      width: 90%;
    }

    .code {
      font-size: $font-md;

      @include sm {
        font-size: $font-sm;
      }
    }
  }

  .BtnContainer {
    display: flex;
    justify-content: space-around;
  }
}
