@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.ColorPicker {
  margin: $space-2;
  margin-bottom: 0;

  p {
    margin-bottom: $space-0;
    margin-top: $space-3;

    @include lg {
      margin-top: $space-0;
    }
  }

  @include lg {
    margin: $space-1;
    margin-bottom: 0;
  }
}
