@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/breakpoints";

.BoxProps {
  margin: 0 $space-2;
  padding-top: $space-3;

  h1 {
    margin-bottom: $space-2;
  }

  @include lg {
    width: 45%;
  }

  @include md {
    width: 100%;
  }

  @include sm {
    padding-top: $space-2;
  }
}
