@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";

.Footer {
  background-color: $color-tapestry;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  text-align: center;

  a {
    text-decoration: underline;
  }
}
